@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #e7e7e7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

h1 {
    letter-spacing: 3px;
    text-align: center;
}
#nav-bar{
	position: fixed;
    top: 0;
    z-index: 999;
    background-color: #1d1414;
    width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between; /* Horizontally space-out items */
	align-items: center; /* Vertically center align items */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.logo{
	width: 200px;
	float: left;
}
#searchPokemon{
	display: block;
	float: right;
	margin-right: 1%;
}
.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 7%;
}
.single-pokemon {
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
	margin: 10px;
	padding: 20px;
	text-align: center;
	width: 50vh;
	position: fixed;
	top: 0%;	
}
.single-pokemon .name{
	text-transform: capitalize;
}
.back img{
		width: 50px;
		margin-top: 20px;
}
.back img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.pokemon {
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
	margin: 10px;
	padding: 20px;
    text-align: center;
    max-width: 160px;
}
.pokemon:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.pokemon .img_container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
	margin: 15px 0;
}
.pokemon .img_container:hover{
	cursor:pointer;
}

.pokemon .img_container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 0px;
}
.info .type{
	text-transform: capitalize;
}

.number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 0 0 7px;
	letter-spacing: 1px;
	max-height: 22px;
	width: 155px;
	left: -17px;
	position: relative;
	overflow: hidden;
	text-transform: capitalize;
}
.detail-stats-row{
	text-align: left;
    margin: 0 10%;
}
.progress{
    position: relative;
    width: 135px;
    background: azure;
    height: 11px;
	top: -14px;
	left: 100px;
	border: 2px solid black;
	border-radius: 10px;
}
.progress-bar{
    background: firebrick;
    height: 100%;
}

@media only screen and (max-width: 480px) {
	.detail-stats-row{
		margin: 0 15%;
	}
	.pokemon:hover{
		-webkit-transform:none;
		-ms-transform: none;
		transform: none;
	}
}


input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
input[type=text] {
	display:block;
	margin: 0 0 0 auto;
    width: 50px;
    height: 50px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url(https://static.thenounproject.com/png/3134345-200.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
	padding: 12px 20px 12px 5px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
  }
  input[type=text]:focus, input[type=text]:hover {
	width: 100%;
  }
  input::-webkit-calendar-picker-indicator {
	display: none;
  }

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://thumbs.gfycat.com/DampSpanishCleanerwrasse-size_restricted.gif");
    background-repeat: no-repeat;
    background-position: center;
}
